.venv/
__pycache__/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

data/raw/*
!data/raw/README.md

data/processed/*
!data/processed/.gitkeep
!data/processed/sample_batch_prediction_input.csv

artifacts/models/*
!artifacts/models/.gitkeep

artifacts/predictions/*
!artifacts/predictions/.gitkeep

artifacts/logs/*
!artifacts/logs/.gitkeep

reports/figures/*
!reports/figures/.gitkeep

reports/tables/*
!reports/tables/.gitkeep
